/* 
    Created on : Sep 30, 2018, 2:20:56 PM
    Author     : rory
*/

.navbar .nav li {
	color:				#EEE !important;
	padding:			10px 30px;
	line-height:		200%;
}

.navbar .nav li:hover 
{
	cursor:				pointer;
	color:				#333 !important;
	background-color:	rgba(244,143,28,0.5) !important;
}

.navbar .active
{
	background-color:	rgba(244,143,28,0.5) !important;
}

